@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* 全体の設定 */

* {
  box-sizing: border-box;
}

:root {
  --tr-per-duration: all 0.3s;
  --disc-max-height: 600px;
}

body {
  padding: 0;
}

#app_content {
  max-width: 100%;
  position: relative;
  padding-bottom: 100%;
  height: 0;
}

#app_content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#working_document h1 {
  align-items: center;
  justify-content: center;
  color: #d766db;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 4em;
  border-bottom: 10px #890dd1 solid;
  padding: 0.8em 0 0.5em 0.2em;
}

#working_document h2 {
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 3em;
  padding: 0.8em 0 0.5em 0.2em;
}

#working_document h3 {
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  padding: 0.5em 0 0.5em 0.2em;
}

#working_document .subject {
  color: #cccccc;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.3em;
}


/* 各セクション用のdiv要素、form要素 */
#working_document {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  background: rgb(30, 30, 40);
}

/* 画面上部のShow, Closeボタン用div要素 */
#working_document #navigate_controls {
  position: fixed;
  top: 20px;
  left: 0px;
  width: 100%;
  height: 80px;
  padding: 16px;
  border-radius: 16px;
  z-index: 1000;
}

#working_document #navigate_controls #left_navigate.active {
  display: block;
}

/* 画面上部のShow, Closeボタン用 */
#working_document [type="button"].navigate_button {
  width: 250px;
  margin: 2px;
}

#working_document #navigate_controls .right {
  position: absolute;
  top: 0;
  right: 20px;
}

#working_document #navigate_controls .left {
  position: absolute;
  display: none;
  top: 100px;
  left: 30px;
}

#working_document #navigate_controls .left [type="button"].navigate_button {
  background-color: red;
}

#working_document #navigate_controls .left [type="button"].navigate_button:hover {
  background: #ca9e3e;
}

/* 音声一覧、UIコントロール、フッター用div要素 */
#working_document #controls,
#working_document #footer {
  border-left: 30px #cccccc double;
  border-bottom: 10px #666666 double;
  border-radius: 12px;
  padding-left: 8px;
}

/* フッター用div要素 */
#working_document #footer {
  display: none;
  position: fixed;
  top: 120px;
  left: 20px;
  background-color: #666666;
  border-radius: 20px;
  margin: 16px;
  border: 4px solid #666666;
  height: var(--disc-max-height);
  overflow: hidden;
  border-top-color: red;
  border-left-color: red;
}

/* フォーム用 */
#working_document form {
  max-width: 800px;
  margin: 50px 0 0 20px;
}

/* 音声一覧、UIコントロールは左寄せ */
#working_document #controls {
  float: left;
}

/* UIコントロールの右側で回り込み解除 */
#working_document #controls {
  clear: right;
}

/* フッター用div要素の左側で回り込み解除 */
#working_document #footer {
  clear: left;
  float: none;
}

/* フッター内の利用規約用ol要素の文字色 */
#working_document #disclaimer ol {
  color: white;
}

/* UIコントロールセクション内の、[input type=text] */
#working_document input.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

/* UIコントロールセクション内の。[input type=button, #compact] */
#working_document [type="button"]#button_compact {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 350px;
  background: #CC6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  margin-bottom: 8px;
  font-weight: 700;
}

#working_document [type="button"]#button_compact:hover {
  background: #ca9e3e;
}

#working_document [type="button"]#button_compact.active {
  color: white;
  background: #66c5cc;
}

#working_document [type="button"]#button_compact.disactive {
  color: #999999;
  background: #CC6666;
}


/* UIコントロールセクション内の、[textarea] */
#working_document textarea.feedback-input {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #333333;
  border: 2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  height: 300px;
  resize: vertical;
}

/* UIコントロールセクション内の、[inputとtextarea]にfocus */
#working_document .feedback-input:focus {
  border: 2px solid #CC4949;
}

/* UIコントロールセクション内の、[input type=button] */
#working_document [type="button"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #CC6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  margin-bottom: 8px;
  font-weight: 700;
}

#working_document [type="button"]:hover {
  background: #ca9e3e;
}

/* UIコントロールセクション内の、[input type=range] */
#working_document input.input-range {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: #8acdff;
  height: 14px;
  width: 100%;
  border-radius: 10px;
  border: solid 3px #dff1ff;
  outline: 0;

  &:focus {
    box-shadow: 0 0 3px rgb(0, 161, 255);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #53aeff;
    width: 64px;
    height: 32px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  }

  &::-moz-range-thumb {
    background: #53aeff;
    width: 64px;
    height: 32px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border: none;
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &:active::-webkit-slider-thumb {
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
  }
}

/* 音声一覧セクション内の[button] */
#working_document button {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100px;
  background: #a03cad;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  margin-bottom: 8px;
  margin-right: 8px;
  font-weight: 700;
  text-align: center;
}

#working_document button:hover {
  background: #ca9e3e;
}

/* update_uiメソッド用class */

/* Connect / Disconnect / Show / Close で使用 */
#working_document [type="button"].active {
  color: white;
}

#working_document [type="button"].disactive {
  color: #999999;
}

/* consoleでエラーが検出された場合に使用 */
#working_document textarea.error {
  color: #ca9e3e;
}

/* 音声一覧セクションのボタンで使用 */
#working_document button.disactive {
  cursor: pointer;
  transition: all 0.3s;
  border-left: 0px;
  background-color: #a03cad;
}

#working_document button.active {
  cursor: wait;
  transition: var(--tr-per-duration);
  border-left: 10px #3399ff solid;
  background-color: #3399ff;
}

#working_document button.ready {
  cursor: wait;
  transition: all 0.3s;
  border-left: 4px #3399ff solid;
  background-color: #a03cad;
}

#working_document #footer.active {
  display: block;
}

#working_document #footer #discription_footer,
#working_document #footer #disclaimer {
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#working_document #footer #discription_footer.active,
#working_document #footer #disclaimer.active {
  display: block;
}

*.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}